<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Blog</title>
    <link href=../static/add.css rel="stylesheet">
</head>

     <nav class="fixed-nav-bar">
        <ul>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/add">Create</a></li>
          <li><a href="/">Home</a></li>
        </ul>
     </nav>

    <div class="bg-img">

    <div id="test">
      <form name="addForm" class="container" style="color:#282e34" method="POST" action="{{ url_for('addpost') }}" novalidate>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">

            <label for="subtitle">Subtitle</label>
            <input type="text" id="subtitle" name="subtitle">

              <label for="author">Author</label>
            <input type="text" id="author" name="author">

            <label for="content">Blog Content</label>
            <textarea id="content" name="content" style="height:200px"></textarea>

            <input type="submit" value="Submit">
          </form>
    </div>
    </div>


</body>
</html>