<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Minimalism</title>

    <link href="{{ url_for('static', filename='font-awesome.min.css')  }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='simple-line-icons.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="{{ url_for('static', filename='text.css') }}" rel="stylesheet">

  </head>
  <body>

    <nav class="fixed-nav-bar">
        <ul>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/add">Create</a></li>
          <li><a href="/">Home</a></li>
        </ul>
     </nav>

    <div class="pimg1">
    <div class="ptext">

        <div id="test">
          <p>​Start writing your blog today</p>

        <div id="fade">
          <a href="/add"><button type="button">CREATE</button></a>
        </div>

        </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
    </div>
    </div>


  <section class="section section-dark">
              <h2 style="color: inherit;"><a href="http://127.0.0.1:5000/post/17" style="color: inherit;"> {{post[-1].title}}</a></h2>
    <p>
        {{post[-1].subtitle}}
    </p>
  </section>

  <div class="pimg1">
    <div class="ptext2">

          <section class="section section-dark">
              <h2 style="color: inherit;"><a href="http://127.0.0.1:5000/post/16" style="color: inherit;"> {{post[-2].title}}</a></h2>
    <p>
        {{post[-2].subtitle}}
    </p>
  </section>

    </div>
  </div>

  <section class="section section-dark">
              <h2 style="color: inherit;"><a href="http://127.0.0.1:5000/post/15" style="color: inherit;"> {{post[-3].title}}</a></h2>
    <p>
        {{post[-3].subtitle}}
    </p>
  </section>


  </body>
  <footer>
      <p class="footer_p">Minimialism&trade;</p>
    </footer>
</html>