<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post</title>

    <link href="{{ url_for('static', filename='postPage.css') }}" rel="stylesheet">


  </head>

  <body>

      <nav class="fixed-nav-bar">
        <ul>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/add">Create</a></li>
          <li><a href="/">Home</a></li>
        </ul>
     </nav>


  <div class="bg-img">

    <div id = text style="padding-top:160px">

      <div id="headers">
        <h1>{{post.title}}</h1>
        <h2 class="subheading">{{post.subtitle}}</h2>
        <span class="meta">Posted by
        {{post.author}}
        on {{date_posted}}</span>
      </div>


    <article>
      <div class="container" style="padding-right: 300px; padding-left: 300px; padding-top:30px">
        <div class="row">
              {{post.content}}
        </div>
      </div>
    </article>

      <div class="container" style="border:3px; padding-bottom: 50px; padding-top:20px; text-align:left; background-color:silver;">
        <h3 style="text-align:left">Comments</h3>
            {% for comm in comment %}
        <div style="border:3px; padding: 2em; background-color:silver; display: flex;">
        <img src="../static/user.jpg" alt="User" width="80" height="80">
          <h5 style="margin:0;">by {{comm.username}} <br>
          {{comm.timestamp.strftime('%B %d, %Y')}}<br>
            <div id="div1" style="font-weight:bold;">{{comm.content}}</div></h5>

        </div>
    {% endfor %}

  <form name="addcomment" id="addcomment" method="POST" action="{{ url_for('addcomment') }}" novalidate>
    <h3>Add a comment</h3>

    <input type="username" id="username" placeholder="Username" name="username">

    <input type="hidden" name="post_id" value={{post_id}}>

    <textarea id="content" name="content" placeholder="Write your comment here" style="height:200px"></textarea>

    <input type="submit"  name="submit" value="Submit" >
  </form>
  </div>

    </div>
    </div>





  </body>

</html>
