body, html{
  height:100%;
  margin:0;
  line-height:1.8em;
  color:black;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size:24px;
}

img {
  height:50px
  width:30px;
}


.container {
  padding-top: 50px;
  background-image:url("about.jpg");
  object-fit:cover;
  font-family: "Courier New", Courier, monospace;
  min-height:80%;
  width:80%;
  background-image:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  margin:auto;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #282e34;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282e34;
    font-family: "Courier New", Courier, monospace;

}

li {
    float: right;
    font-family: "Courier New", Courier, monospace;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}

li a:hover {
    background-color: #111;
}

.footer_p {
	font-size: 8pt;
  color:#666;
	font-style: italic;
	position:fixed;
	height:50px;
	bottom:0px;
	left:100px;
	right:0px;
	margin-bottom:0px;
}

.box {
    font-family: "Courier New", Courier, monospace;
	display:flex;
	align-items:center;
	color:black;
	font-size: 16px;
}