body, html{
  height:100%;
  margin:0;
  font-size:16px;
  line-height:1.8em;
  color:#666;
}

* {
    box-sizing: border-box;
}

.bg-img {
    background-image: url("minimalis.jpg");
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity:0.80;
    background-attachment:fixed;

}

.container {
    padding-top:200px;
    margin-top:40px;
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto;
    max-width: 900px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Courier New", Courier, monospace;
    font-weight:bold;
}

input[type=text] {
    font-family: "Courier New", Courier, monospace;
    color: black;
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    border: none;
    border-bottom: 1px solid #282e34;
    background-color: transparent;
    font-size: 15px;
}

input[type=text]:focus {
    background-color: transparent;
    outline: none;
}

textarea {
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    resize: none;
    font-size: 15px;
}

textarea:focus {
    background-color: transparent;
    outline: none;
}

input[type=submit] {
    background-color: #282e34;
    color: white;
    padding: 12px 20px;
    border: black;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    float: left
    border-radius: 8px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #282e34;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282e34;
    font-family: "Courier New", Courier, monospace;

}

li {
    float: right;
    font-family: "Courier New", Courier, monospace;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}

li a:hover {
    background-color: #111;
}

#test {
    opacity: 1;
    margin-top: 25px;
    text-align: left;

    -webkit-animation: fadein 4s;
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h1 {
color: black;
font-weight: bold;
}
