body, html{
  height:100%;
  margin:0;
  font-family: "Courier New", Courier, monospace;
  font-weight:400;
  line-height:1.8em;
  color:black;
}
#myText {
  margin-left:0px;
  height:100px;
  width:235px;
}

br {
  line-height:50%; 
}

.label {
  margin-top:100px;
}

.container {
  font-family: "Courier New", Courier, monospace;
  background-image:url("contact.jpg");
  min-height:100%;
  background-image:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  margin:auto;
}

.title {
    color:black;
  font-size:12px;
}
.writing {
  color:black;
  font-size:20px;
}

.name_control{
  margin-left:60px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #282e34;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282e34;
    font-family: "Courier New", Courier, monospace;

}

li {
    float: right;
    font-family: "Courier New", Courier, monospace;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}

li a:hover {
    background-color: #111;
}
.footer_p {
  font-size: 8pt;
  font-style: italic;
  position:fixed;
  height:50px;
  bottom:0px;
  left:80px;
  right:0px;
  margin-bottom:0px;
}

.forms{
  text-align:center;
  padding:50px;
  font-size:15px;
}

button {
    background: none;
    border: 3px solid #282e34;
    color: #282e34;
    font-weight:bold;
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 8px;
    font-family: "Courier New", Courier, monospace;
}

