body, html{
  height:100%;
  margin: 0;
  font-size:16px;
  line-height:1.8em;
  text-align:center;
  font-family: "Courier New", Courier, monospace;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #282e34;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282e34;
    font-family: "Courier New", Courier, monospace;

}

li {
    display: inline;
    float: right;
    font-family: "Courier New", Courier, monospace;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}

li a:hover {
    background-color: #111;
}

.bg-img {
    background-image: url("minimalis.jpg");
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity:0.70;
    background-attachment:fixed;

}

h1 {
text-align:center;
font-family: "Courier New", Courier, monospace;
}

.container {
    margin-top:40px;
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto;
    max-width: 900px;
    padding: 100px;
    font-family: "Courier New", Courier, monospace;
    font-weight:bold;
}

input[type=username] {
    font-family: "Courier New", Courier, monospace;
    color: black;
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    border: none;
    border-bottom: 1px solid #282e34;
    background-color: transparent;
    font-size: 15px;
}

input[type=username]:focus {
    background-color: transparent;
    outline: none;
}

textarea {
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    resize: none;
    font-size: 15px;
}

textarea:focus {
    background-color: transparent;
    outline: none;
}

input[type=submit] {
    background-color: #282e34;
    color: white;
    padding: 12px 20px;
    border: black;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    float: left
    border-radius: 8px;
}

img {
margin-right: 10px;
}

#div1 {
font-weight:bold;
}