body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1 {
  position:relative;
  opacity:0.90;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('tablet.jpg');
  min-height:100%;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
  font-family: "Courier New", Courier, monospace;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext2{
  position:absolute;
  top:32%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:18px;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:30px;
}

@media(max-width:568px){
  .pimg1 {
    background-attachment:scroll;
  }
}

#test p {
    margin-top: 25px;
    font-size: 40px;
    text-align: center;

    -webkit-animation: fadein 8s;
            animation: fadein 8s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #282e34;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282e34;
    font-family: "Courier New", Courier, monospace;

}

li {
    float: right;
    font-family: "Courier New", Courier, monospace;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}

li a:hover {
    background-color: #111;
}

button {
    background: none;
    border: 3px solid #282e34;
    color: #282e34;
    font-weight:bold;
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 8px;
    font-family: "Courier New", Courier, monospace;
}

#fade {
  animation: cssAnimation 0s 3s forwards;
  opacity: 0;
}

@keyframes cssAnimation {
  from {opacity: 0;  }
  to   { opacity: 1; }
}

#fade {
    text-align: center;

    -webkit-animation: fadein 6s;
            animation: fadein 6s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
            animation-fill-mode: forwards
}

.footer_p {
  font-size: 8pt;
  font-style: italic;
  position:fixed;
  height:50px;
  bottom:0px;
  left:80px;
  right:0px;
  margin-bottom:0px;
}
